body {
    background-color: rgba(242, 245, 247, 255);
}

ul {
    list-style-type: none;
    margin: 0;
}

.header {
    background-color: #FFF;
    text-align: center;
    padding-top: 20px;
}


.main {
    background-color: rgba(242,245,247,255);
    padding: 20px;
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: column;
}

.column, .column h4 {
    font-weight: bold;
}

.btn {    
    color: #FFF;
    font-weight: bold;
    width: 200px;
}

.btn-column {
    display: flex;
    justify-content: space-between;
}

.btn-charte {
    background-color: rgba(208, 0, 46, 255);
}

.btn-random-name {
    background-color: #19c246;
}

h5 {
    font-weight: bold;
    margin: 0;
}

.section-container {
    background-color: #FFF;
    margin-block: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 2px rgba(242,245,247,255);
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.list-items {
    display: none;
    margin-top: 20px;;
}

.active {
    display: block;
}

.rotate {
    transform: rotate(180deg)
}

li span {
    padding-left: 5px;
}

@media (min-width: 900px){
    .row {
        flex-direction: row;
        justify-content: space-between;
    }

    .column {
        width: 50%;
    }

    .btn-column {
        flex-direction: column;
    }


}
